:root{
    --nav-color: black;
    --nav-color2: rgb(223,213,213);
    --burgundy: rgb(122,59,59);     /*(86,0,34)*/
    --grey: rgb(237,237,237);
    --grey1: rgb(174, 158,158);

}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
	font-weight: 400;

}

header{
    background: var(--nav-color);
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 99;
    height: 80px;

}







.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

.nav-logo-container{
    display: none;
}


.mobile-nav-logo-container{
    width: 100%;
}

.mobile-nav-logo{
    width: auto;
    height: 60px;
    position: relative;
    top: 10px;

}

.nav-logo{
    display: none;

}


nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--nav-color);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: var(--burgundy);
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);

}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;

}

.banner {
  display: none;
}

.mobile-banner{
    position: relative;
    top: 80px;
    width: 100%;
    height: 150px;
}

.mobile-banner img{
    width: 100%;
    height: 100%;
}

.mob-floating-button-container{
    width: 100%;
    height: 0px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mob-floating-button{
    padding: 0px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;

}
.mob-floating-button ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;

        }

        .mob-floating-button li{
            padding: 10px;
            display: inline-block;
            margin-right: 0px;
            margin-left: 0px;
            background: var(--burgundy);
            width: 200px;
            border-radius: 99px;
        }

        .mob-floating-button a{
            color: white;
            text-decoration: none;
            font-size: 20px;
            text-transform: uppercase;
            white-space: nowrap;

        }
        .mob-floating-button-container li:hover {
            background: grey;
            transition: background-color 0.5s ease; /* Change duration value to make the transition slower or faster */

        }
.banner-h-container{
    position: relative;
    display: flex;
    width: 90%;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;

}


.banner-h-container h2{
    color: white;
    font-weight: 400;
    font-size: 22px;

}

.banner-msg{
    position: relative;
    top: 150px;
    display: flex;
    width: 100%;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;

}

.banner-msg p{
    color: white;
    font-weight: 200;
    margin: 5px;
    margin-top: 10px;
    font-size: 16px;
}

h5{
   color: black;
   font-size: 24px;
   font-weight: 400;
   text-align: center;
   margin: 0px;
   margin-bottom: 10px;
   margin-top: 25px;
   padding: 0px;
}

.offering-container{
    display: none;
}

.grid-backdrop{
    position: relative;
    background: var(--burgundy);
    display: grid;
    place-items: center;
    height: auto;

}
.more-grid-backdrop{
    background: var(--burgundy);
    height: 80px;
}
.buffer{
        width: 100%;
        height: 25px;
        background: var(--burgundy);
}
.blk-buffer{
            width: 100%;
            height: 25px;
            background: var(--grey);
        }
.grid{
    display: grid;
    grid-template-columns: 361px;
    grid-template-rows: 527px;
    grid-row-gap: 50px;
    grid-column-gap: 25px;
    margin-left: auto;
    margin-right: auto;
    }

.grid h2{
            position: relative;
            text-align: center;
            top: 10px;
            margin: 0px;
            font-weight: 450;
        }

.grid p{
            position: relative;
            top: 25px;
            margin: 0px;
            padding: 10px;
            text-align: center;
            font-weight: 300;
        }
.grid > div{
     box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2);
     padding: 10px;
     background: white;
     height: 527px;
     border-radius: 10px;
     }

.placeholder-img{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 319px;
    height: 311px;
    border: 3px solid var(--burgundy);
    position: relative;
    top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.placeholder-lsa {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 319px;
    height: 175px;
    border: 3px solid var(--burgundy);
    position: relative;
    top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.card-divider{
    width: 319px;
    position: relative;
    top: 20px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 4px solid var(--burgundy);
    border-radius: 5px;
}

.pledge-divider{
    width: 319px;
    position: relative;
    top: -10px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 4px solid var(--burgundy);
    border-radius: 5px;
}

.pledge-container img{
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
    margin-bottom: 20px;
}
.pledge-container h2{
    margin-top: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pledge-container p{
    width: 90%;
    font-size: 18px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.address{
    margin: 25px;
    margin-top: 150px;
}


h4{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-links{
    display: none;
}
.footer-links-mobile{
    display: block;
    margin-top: 30px;
}



.footer-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo{
    width: 20%;

}
h4{
   color: black;
   font-size: 24px;
   font-weight: 400;
   text-align: center;
   margin: 0px;
   margin-top: 50px;
   padding: 0px;
   }

.column p{
    color: black;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

.socials{
            display: flex;
            width: 100%;
            position: relative;
            justify-content: center;
            align-items: center;
        }

.footer-links-mobile{
        color: black;
        font-weight: 300;
        text-align: center;
}

@media screen and (min-width: 820px){

        header{
            position: static;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 120px;
        }

        .menu{
            display: flex;
            justify-content: center;

        }

        .nav-toggle-label{
            display: none;
        }

        .mobile-nav-logo-container{
            display: none;
        }

        .mobile-nav-logo{
            display: none;

        }

        .nav-logo-container{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .nav-logo {
            all: unset;
            width: auto;
            height: 100px;
            margin-right: 20px;
            margin-left: 0px;
            margin-top: 12px;

        }



        nav {
            all: unset;
            display: flex;
            align-items: center;

        }

        nav ul{
            display: flex;
            justify-content: center;
        }

        nav li{
            all: unset;
            margin-left: 2em;
            margin-right: 2em;

        }

        nav a{
            opacity: 1;
            position: relative;
            font-size: 16px;

        }

        nav a::before{
            content: '';
            display: block;
            height: 1px;
            background: white;
            position: absolute;
            top: 1.75em;
            left: 0;
            right: 0;
            transform: scale(0,1);
            transition: transform ease-in-out 250ms;
        }

        nav a:hover::before{
            transform: scale(1,1);
        }



        h3{
            color: white;
            font-size: 48px;
            font-weight: 300;
            text-align: center;
            padding-left: 38px;
            padding-right: 38px;
            padding-top: 10px;

        }


        .banner {
          all: unset;
          background: rgba(122,59,59,0.5);
          width: 100%;
          height: 400px;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
        }

        .giving-img{
          all: unset;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -2;

        }

        .banner-h-container{
            all: unset;
            position: relative;
            top: -15px;
            display: flex;
            width: 100%;
            margin: 0;
            text-align: center;
            justify-content: center;
            align-items: center;

        }


        .banner-h-container h2{
            all: unset;
            color: white;
            font-weight: 400;
            font-size: 40px;
            width: 50%;

        }

        .banner-msg{
            all: unset;
            display: flex;
            width: 100%;
            margin: 0;
            text-align: center;
            justify-content: center;
            align-items: center;

        }

        .banner-msg p{
            all: unset;
            color: white;
            font-weight: 300;
            margin: 5px;
            margin-top: 10px;
            font-size: 24px;
            width: 75%;
        }

        .mob-floating-button-container{
            display: none;
        }

        .floating-button-container{
            width: 100%;
            height: 50px;
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .floating-button{
            padding: 0px;
            margin-top: 75px;
            display: flex;
            justify-content: space-between;

        }

        .floating-button ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;

        }

        .floating-button li{
            padding: 10px;
            display: inline-block;
            margin-right: 0px;
            margin-left: 0px;
            background: var(--burgundy);
            width: 300px;
            border-radius: 99px;
        }

        .floating-button a{
            color: white;
            text-decoration: none;
            font-size: 30px;
            text-transform: uppercase;
            white-space: nowrap;

        }
        .floating-button-container li:hover {
            background: grey;
            transition: background-color 0.5s ease; /* Change duration value to make the transition slower or faster */

        }

        .address{
            all: unset;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .offering-container{
            all: unset;
            max-width: 50%;
        }

        .offering-img{
            width: 100%;
        }
        .blk-buffer{
            width: 100%;
            height: 25px;
            background: black;
        }
        .buffer{
            width: 100%;
            height: 25px;
            background: var(--burgundy);
        }

        .address p {
            font-size: 18px;
            width: 40%;
            margin: 25px;
        }

        .grid-backdrop{
            background: var(--burgundy);
            display: grid;
            place-items: center;
            height: 2000px;
        }

        .grid{
            display: grid;
            grid-row-gap: 50px;
            grid-column-gap: 25px;
            grid-template-columns: repeat(2, 361px);

        }

        .grid > div{
            padding: 10px;
            background: white;
            margin-top: 20px
            border-radius: 10px;
        }

        @media screen and (min-width: 1150px){
            .grid{
                display: grid;
                grid-template-columns: repeat(3, 361px);
                }
            .grid-backdrop{
                height: 1200px;
            }
        }

        .pledge-container{
            background: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            position: relative;
        }

        .pledge-container h2{
            color: black;
            font-weight: 400;
            font-size: 28px;
            width: 100%;
        }
        .pledge-container p{
            width: 80%;
        }
        .mobile-banner{
            display: none;
        }

        .footer-container {
              all: unset;
              display: flex;
              justify-content: center;
              align-items: flex-start;
              background: rgb(47,46,46);
              overflow: hidden; /* Enable vertical scrolling if the content overflows */

            }
        .footer-logo-container{
            all: unset;
            padding: 0px;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: auto;
        }
        .footer-logo{
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            width: auto;
            height: 110px;
            margin: 25px;
        }

        .column {
              all: unset;
              padding: 20px;
              text-align: center;
              color: white;
              margin-bottom: 75px;
              width: 100%;
            }

        .column p{
            position: relative;
            top: 10px;
            color: white;
            text-align: center;
            margin: 0px;
            padding: 0px;
            font-weight: 100;
        }

        @media screen and (max-width: 1150px){
            .column {
              display: none;

            }
            .footer-divider{
                display: none;
            }
            .mobile-banner{
                display: none;
            }
        }
        .footer-divider {
              position: relative;
              top: 25px;
              width: 0px;
              height: 175px;
              background-color: black;
              border: 1px dotted white;

            }

        .socials{
            all: unset;
            display: flex;
            width: 200px;
            position: relative;
            justify-content: center;
            align-items: center;
        }

        .social-logo{
            all: unset;
            display: flex;
            width: 100%;
        }

        .footer-links{
            all: unset;
            margin-left: 100px;
            margin-right: 100px;

        }
        .footer-links p{
            color: white;
            font-size: 12px;
        }

        h4{
            color: white;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            margin: 0px;
            margin-top: 20px;
            padding: 0px;
        }
        .footer-links-mobile{
            display: none;
        }

}

