:root{
    --nav-color: black;
    --nav-color2: rgb(223,213,213);
    --burgundy: rgb(122,59,59);     /*(86,0,34)*/
    --grey: rgb(230, 223, 223);
    --grey1: rgb(174, 158,158);
    --burgundy-overlay: rgba(122,59,59,0.5);

}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
	font-weight: 400;

}

header{
    background: var(--nav-color);
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 99;
    height: 80px;

}




.nav-logo-container{
    width: 100%;
}

.nav-logo{
    width: auto;
    height: 60px;
    position: relative;
    top: 10px;

}


.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--nav-color);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: var(--burgundy);
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);

}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;

}

/* Set the video container to the size you want */
.video-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden; /* Enable vertical scrolling if the content overflows */

}

/* Style the video element to cover the entire container */
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

}

.bottom-menu-container{
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0px;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    background: var(--burgundy);
}

.bottom-menu{
    display: none;
}

.floating-buttons-container{
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;

    }

.floating-buttons{
    padding: 0px;
    width: 355px;
    height: 150px;
    }

.floating-buttons ul{
    width: 100%;
    display: block;
    padding: 0;

    }

.floating-buttons li{
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
    background: rgba(122,59,59,.5);
    width: 200px;
    border-radius: 99px;

    }

.floating-buttons a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 300;

    }

.floating-buttons-container li:hover {
    background: rgb(47,46,46);
    transition: background-color 0.5s ease; /* Change duration value to make the transition slower or faster */
    border-radius: 99px;
    }

.splash-image-container{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 200px;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.splash-image img{
    width: 150px;
    height: 150px;
}

.grid-backdrop{
    background: var(--burgundy);
    display: grid;
    place-items: center;

}
.more-grid-backdrop{
    background: var(--burgundy);
    height: 80px;
}
.grid{
    display: grid;
    grid-template-columns: 361px;
    grid-template-rows: 527px;
    grid-row-gap: 50px;
    grid-column-gap: 25px;
    margin-left: auto;
    margin-right: auto;
    }


.grid > div{
     box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2);
     padding: 10px;
     background: white;
     height: 527px;
     margin-top: 25px;
     border-radius: 10px;
     }

.placeholder-img{
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 319px;
    height: 311px;
    border-style: solid;
    position: relative;
    top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-divider{
    width: 319px;
    position: relative;
    top: 20px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 4px solid var(--burgundy);
    border-radius: 5px;
}

h2 {
  position: relative;
  text-align: center;
  top: 10px;
  margin: 0px;
  font-weight: 450;
}

p {
  position: relative;
  top: 25px;
  margin: 0px;
  padding: 10px;
  text-align: center;
  font-weight: 300;

}

.connect-with-us-container{
    display: none;
}

h4{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.footer-links{
    display: none;
}
.footer-links-mobile{
    display: block;
    margin-top: 30px;

}



.footer-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo{
    width: 20%;

}
h4{
   color: black;
   font-size: 24px;
   font-weight: 400;
   text-align: center;
   margin: 0px;
   margin-top: 50px;
   padding: 0px;
   }

.column p{
    color: black;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
}

.socials{
            display: flex;
            width: 100%;
            position: relative;
            justify-content: center;
            align-items: center;
        }

@media screen and (min-width: 769px){

        header{
            position: static;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 120px;
        }

        .menu{
            display: flex;
            justify-content: center;

        }

        .nav-toggle-label{
            display: none;
        }

        .nav-logo-container{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 7.5%;
            margin-right: 4em;

        }

        .nav-logo {
            all: unset;
            width: auto;
            height: 100px;
            margin-right: 0px;
            margin-left: 0px;

        }

        nav {
            all: unset;
            display: flex;
            align-items: center;

        }

        nav ul{
            display: flex;
            justify-content: center;
        }

        nav li{
            all: unset;
            margin-left: 2em;
            margin-right: 2em;

        }

        nav a{
            opacity: 1;
            position: relative;
            font-size: 16px;

        }

        nav a::before{
            content: '';
            display: block;
            height: 1px;
            background: white;
            position: absolute;
            top: 1.75em;
            left: 0;
            right: 0;
            transform: scale(0,1);
            transition: transform ease-in-out 250ms;
        }

        nav a:hover::before{
            transform: scale(1,1);
        }

        .video-container {
          position: relative;
          top: auto;
          width: 100%;
          height: 706px;
        /*overflow: none; fixes scroll into whitespace - might be a problem - to fix (delete and set widths to 100%)*/

        }

        /* Style the video element to cover the entire container */
        .video-container video {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1;
        }


        .bottom-menu-container{
            width: 100%;
            height: 70px;
            position: absolute;
            bottom: 0px;
            display: flex;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 0px;
            margin: 0px;
            background: rgba(0,0,0,.25);

        }

        .bottom-menu{
            padding: 0px;
            width: 521px;
            height: 56px;
            display: flex;
            justify-content: space-between;

        }

        .bottom-menu ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .bottom-menu li{
            padding: 0px;
            display: inline-block;
            margin-right: 0px;
            margin-left: 0px;

        }

        .bottom-menu a{
            color: white;
            text-decoration: none;
            font-size: 20px;
            text-transform: uppercase;
            white-space: nowrap;
            font-weight: 100;

        }
        .bottom-menu-container a:hover {
            color: var(--burgundy);
        }
        .floating-buttons-container{
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 100px;
            display: flex;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 10px;

        }

        .floating-buttons{
            padding: 0px;
            width: 790px;
            height: auto;
            display: flex;
            justify-content: space-between;

        }

        .floating-buttons ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;

        }

        .floating-buttons li{
            padding: 10px;
            display: inline-block;
            margin-right: 0px;
            margin-left: 0px;
            background: var(--burgundy);
            width: 335px;
            border-radius: 99px;

        }

        .floating-buttons a{
            color: white;
            text-decoration: none;
            font-size: 30px;
            text-transform: uppercase;
            white-space: nowrap;

        }
        .floating-buttons-container li:hover {
            background: grey;
            transition: background-color 0.5s ease; /* Change duration value to make the transition slower or faster */

        }

        .splash-image-container{
            width: 100%;
            height: 100px;
            position: absolute;
            bottom: 400px;
            display: flex;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding: 10px;
        }

        .splash-image img{
            width: 210px;
            height: 210px;
        }

        .grid-backdrop{
            background: var(--burgundy);
            display: grid;
            place-items: center;

        }

        .grid{
            display: grid;
            grid-row-gap: 50px;
            grid-column-gap: 25px;
            grid-template-columns: repeat(2, 361px);
            grid-template-rows: repeat(2, 527px);

        }


        .grid > div{
            padding: 10px;
            background: white;
            margin-top: 20px
            border-radius: 10px;
        }
        @media screen and (min-width: 1150px){
            .grid{
                display: grid;
                grid-template-columns: repeat(3, 361px);
                grid-template-rows: repeat(3, 527px);
                }




        }

        .connect-with-us-container{
            display: flex;
            height: 829px;
            width: auto;
            position: relative;
            background-image: url('join-us.jpg');
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .connect-with-us-container img {
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        .connect-with-us{
            position: relative;
            height: 452px;
            width: 869px;
            background: rgba(122,59,59,.9);
            display: flex;
            justify-content: center;

        }

        h3{
            color: white;
            font-size: 48px;
            font-weight: 300;
            text-align: center;
            padding-left: 38px;
            padding-right: 38px;
            padding-top: 10px;

        }

        .connect-with-us-divider{
            width: 250px;
            display: flex;
            position: absolute;
            top: 200px;
            padding: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            border-top: 1px dotted white;
        }

        .connect-with-us p{
            color: white;
            font-size: 24px;
            font-weight: 100;
            text-align: center;
            padding-left: 38px;
            padding-right: 38px;
            padding-top: 10px;
            position: absolute;
            top: 250px;
        }

        .connect-with-us li{
            background: rgba(122,59,59,.9);
            border: 1px solid white;
            list-style: none;
            width: 267px;
            height: 41px;
            margin: 0px;
            padding: 0px;
            position: absolute;
            top: 375px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .connect-with-us li a{
            display: flex;
            text-decoration: none;
            color: white;
            text-align: center;
            margin: 0px;
            padding: 0px;
        }

        .connect-with-us li:hover{
            background: rgb(47,46,46);
            transition: background-color 0.5s ease;
        }

        .footer-container {
              all: unset;
              display: flex;
              justify-content: center;
              align-items: flex-start;
              background: rgb(47,46,46);
              overflow: hidden; /* Enable vertical scrolling if the content overflows */

            }
        .footer-logo-container{
            all: unset;
            padding: 0px;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: auto;
        }
        .footer-logo{
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            width: auto;
            height: 110px;
            margin: 25px;
        }

        .column {
              all: unset;
              padding: 20px;
              text-align: center;
              color: white;
              margin-bottom: 50px;
              margin-left: 75px;
              margin-right: 75px;

            }

        .column p{
            position: relative;
            top: 10px;
            color: white;
            text-align: center;
            margin: 0px;
            padding: 0px;
            font-weight: 100;
        }
        .buffer{
            width: 100%;
            height: 25px;
            background: var(--burgundy);
        }
        @media screen and (max-width: 1150px){
            .column {
              display: none;

            }
            .footer-divider{
                display: none;
            }
        }
        .footer-divider {
              position: relative;
              top: 25px;
              width: 0px;
              height: 175px;
              background-color: black;
              border: 1px dotted white;

            }

        .socials{
            all: unset;
            display: flex;
            width: 200px;
            position: relative;
            justify-content: center;
            align-items: center;
        }

        .social-logo{
            all: unset;
            display: flex;
            width: 100%;
        }

        .footer-links{
            all: unset;
            margin-left: 100px;
            margin-right: 100px;

        }
        .footer-links p{
            color: white;
            font-size: 12px;
        }

        h4{
            color: white;
            font-size: 24px;
            font-weight: 400;
            text-align: center;
            margin: 0px;
            margin-top: 20px;
            padding: 0px;
        }
        .footer-links-mobile{
            display: none;
        }

}

