<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../static/css/about-us.css"> 
    <meta charset="UTF-8">
    <title>Greater Bethlehem Temple Church</title>
</head>
<body>
    <header>
        <a href="/"><img src="../static/images/logo.png" class="nav-logo"></a>
        <input type = "checkbox" id = "nav-toggle" class = "nav-toggle">
        <nav>
            <ul>
                <li><a href="#">Watch</a></li>
                <li><a href="#">Give</a></li>
                <li><a href="#">Connect</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">About US</a></li>
             </ul>
        </nav>
        <label for = "nav-toggle" class = "nav-toggle-label">
        <span></span>
        </label>
    </header>
    <div class="bckgrnd-image-container">
        <div class="Title-text-container">
            <h1>Our Vision</h1>
        </div>
        <div class="Body-text-container">
            <p>The vision of the Greater Bethlehem Temple Church Ministry is to change people into true disciples of Christ.</p>
        </div>
        <img src="../static/images/GBTChurch.jpeg" alt="GBTChurch" class="bckgrnd-image">
        <div class="shade"></div>
    </div>
</body>
</html>