<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/events.css">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

        <script>
    document.addEventListener('DOMContentLoaded', function() {
      const userAgent = navigator.userAgent.toLowerCase();
      const body = document.querySelector('body');
      const header = document.querySelector('header');
      const nav = document.querySelector('nav');
      const navToggle = document.querySelector('.nav-toggle');
      const mobileNavLogo = document.querySelector('.mobile-nav-logo');
      const navToggleLabel = document.querySelector('.nav-toggle-label');
      const banner = document.querySelector('.banner');
      const calendarH2 = document.querySelector('.calendar-h2');


      if (userAgent.includes('android') ||
          userAgent.includes('webos') ||
          userAgent.includes('iphone') ||
          userAgent.includes('ipad') ||
          userAgent.includes('ipod') ||
          userAgent.includes('blackberry') ||
          userAgent.includes('iemobile') ||
          userAgent.includes('opera mini')) {

        header.classList.add('mobile');
        body.classList.add('mobile');
        nav.classList.add('mobile');
        mobileNavLogo.classList.add('mobile');
        navToggleLabel.classList.add('mobile');
        navToggle.classList.add('mobile');
        banner.classList.add('mobile');
        calendarH2.classList.add('mobile');


      } else {
        header.classList.add('desktop');
        body.classList.add('desktop');
        nav.classList.add('desktop');
        mobileNavLogo.classList.add('desktop');
        navToggleLabel.classList.add('desktop');
        navToggle.classList.add('desktop');
        banner.classList.add('desktop');
        calendarH2.classList.add('desktop');

      }
    });
  </script>

    <script>
    function openPopup(src, title, description) {
        document.getElementById('popupTitle').innerText = title;
        document.getElementById('popupImage').src = src;
        document.getElementById('popupContainer').classList.add('active');
    }

    function closePopup() {
        document.getElementById('popupContainer').classList.remove('active');
    }
</script>

    <title>Greater Bethlehem Temple Church</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="/" class="mobile-nav-logo-container"><img src="../static/images/white_logo.png" class="mobile-nav-logo"></a>
            <a href="/" class="nav-logo-container"><img src="../static/images/header logo2.png" class="nav-logo"></a>
            <input type = "checkbox" id = "nav-toggle" class = "nav-toggle">
            <nav>
                <ul>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/give">Give</a></li>
                    <li><a href="/connect">Connect</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/about-us">About US</a></li>
                </ul>
            </nav>
            <label for = "nav-toggle" class = "nav-toggle-label">
            <span></span>
            </label>
        </div>
    </header>





    <div class="banner">
        <img src="../static/images/table.jpg" class="event-img">
        <div class="banner-h-container">
            <h2>EVENTS</h2>
        </div>
        <div class="banner-msg">
            <p>We would love to see you and your family here at Greater Bethlehem Temple.
                Check out what's going on and then make plans to be with us!
            </p>
        </div>
    </div>






<!--    <div class="mobile-banner">-->
<!--        <div class="mobile-banner-h-container">-->
<!--            <h2>EVENTS</h2>-->
<!--        </div>-->
<!--        <img src="../static/images/table1.jpg" class="mobile-offering-img">-->

<!--    </div>-->

    <div class="buffer"></div>


    <div class="highlights-container">
            <div class="grid-backdrop">
                <h2>ANNOUNCEMENTS</h2>
                <hr class="announce-divider">

        <div class="grid">
            <div>
                <div class="image" onclick="openPopup('../static/images/basketball.jpg', 'Youth Basketball League', 'Event overview 1')">
                    <img src="../static/images/basketball.jpg" class="image__img">
		            <div class="image__overlay image__overlay--primary">
			        <div class="image__title" style="text-align:center;">Youth Basketball League</div>
			        <p class="image__description">
				        click for more info
			        </p>
		            </div>
	            </div>
            </div>
            <div>
                <div class="image" onclick="openPopup('../static/images/p_f.jpg', 'New Year's Fasting and Prayer', 'Event overview 2')">
                    <img src="../static/images/p_f.jpg" class="image__img">
		            <div class="image__overlay image__overlay--primary">
			        <div class="image__title" style="text-align:center;">New Year's Fasting and Prayer</div>
			        <p class="image__description">
				        Fasting and Prayer every Mon, Tues, and Wed of January
			        </p>
		            </div>
	            </div>
            </div>
            <div>
                <div class="image" onclick="openPopup('../static/images/logo.png', 'Have An Announcment?', 'Event overview 3')">
                    <img src="../static/images/logo.png" class="image__img">
		            <div class="image__overlay image__overlay--primary">
			        <div class="image__title" style="text-align:center;">Have An Announcement?</div>
			        <p class="image__description">
				        Contact Communications Dept.
			        </p>
		            </div>
	            </div>
            </div>
            <div>
                <div class="image" onclick="openPopup('../static/images/logo.png', 'Have An Announcment?', 'Event overview 4')">
                    <img src="../static/images/logo.png" class="image__img">
		            <div class="image__overlay image__overlay--primary">
			        <div class="image__title" style="text-align:center;">Have An Announcement?</div>
			        <p class="image__description">
				        Contact Communications Dept.
			        </p>
		            </div>
	            </div>
            </div>


        </div>
                <div class="more-grid-backdrop" onclick="closePopup()"></div>

    <div class="popup-container" id="popupContainer">
        <div class="popup-header" onclick="closePopup()">
            <span class="image__title" id="popupTitle"></span>
            <span class="close-btn" onclick="closePopup()" style="font-size: 25px; padding-right: 15px;
            padding-left: 10px;">x</span>
        </div>
        <div class="popup-content">
            <img src="" alt="Popup Image" class="popup-image" id="popupImage">
        </div>
    </div>

        </div>
    </div>
    </div>
    <div class="calendar-h2">
        <h2>WHAT'S GOING ON</h2>
    </div>
                    <hr class="announce-divider">

<div class="calendar">
    <iframe src="https://embed.styledcalendar.com/#YxExS2pPfeLBhJzgGGwX" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
    <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
</div>


<!--    <div class="event-container">-->
<!--      <h3 class="month">June</h3>      &lt;!&ndash;  year&ndash;&gt;-->
<!--        <hr class="month-divider">-->
<!--      <div class="event">-->
<!--        <div class="event-left">-->
<!--          <div class="event-date">-->
<!--            <div class="date">8</div>-->
<!--            <div class="day">Thursday</div>        &lt;!&ndash;month&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="event-right">-->
<!--          <h3 class="event-title">EVENT</h3>-->

<!--          <div class="event-description">-->
<!--            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,-->
<!--            ratione.-->
<!--          </div>-->

<!--          <div class="event-timing">-->
<!--            <img src="../static/images/time.png" alt="" /> 10:00 am-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="event">-->
<!--        <div class="event-left">-->
<!--          <div class="event-date">-->
<!--            <div class="date">9</div>-->
<!--            <div class="day">Friday</div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="event-right">-->
<!--          <h3 class="event-title">EVENT</h3>-->

<!--          <div class="event-description">-->
<!--            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,-->
<!--            ratione.-->
<!--          </div>-->

<!--          <div class="event-timing">-->
<!--            <img src="../static/images/time.png" alt="" /> 10:45 am-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->



<!--      <h3 class="month">July</h3>-->
<!--        <hr class="month-divider">-->
<!--        <div class="event">-->
<!--        <div class="event-left">-->
<!--          <div class="event-date">-->
<!--            <div class="date">7</div>-->
<!--            <div class="day">Wednesday</div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="event-right">-->
<!--          <h3 class="event-title">EVENT</h3>-->

<!--          <div class="event-description">-->
<!--            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,-->
<!--            ratione.-->
<!--          </div>-->

<!--          <div class="event-timing">-->
<!--            <img src="../static/images/time.png" alt="" /> 10:00 am-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="event">-->
<!--        <div class="event-left">-->
<!--          <div class="event-date">-->
<!--            <div class="date">9</div>-->
<!--            <div class="day">Friday</div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="event-right">-->
<!--          <h3 class="event-title">EVENT</h3>-->

<!--          <div class="event-description">-->
<!--            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,-->
<!--            ratione.-->
<!--          </div>-->

<!--          <div class="event-timing">-->
<!--            <img src="../static/images/time.png" alt="" /> 10:30 am-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="event">-->
<!--        <div class="event-left">-->
<!--          <div class="event-date">-->
<!--            <div class="date">12</div>-->
<!--            <div class="day">Monday</div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="event-right">-->
<!--          <h3 class="event-title">EVENT</h3>-->

<!--          <div class="event-description">-->
<!--            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,-->
<!--            ratione.-->
<!--          </div>-->

<!--          <div class="event-timing">-->
<!--            <img src="../static/images/time.png" alt="" /> 10:00 am-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="event">-->
<!--        <div class="event-left">-->
<!--          <div class="event-date">-->
<!--            <div class="date">20</div>-->
<!--            <div class="day">Tuesday</div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="event-right">-->
<!--          <h3 class="event-title">EVENT</h3>-->

<!--          <div class="event-description">-->
<!--            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus,-->
<!--            ratione.-->
<!--          </div>-->

<!--          <div class="event-timing">-->
<!--            <img src="../static/images/time.png" alt="" /> 10:00 am-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->




      <div class="footer-container">
    <div class="column">
      <h4>SERVICE TIMES</h4>
      <p>SUNDAY WORSHIP SERVICE<br>IN-PERSON & VIRTUAL<br>11AM (CST)</p>
      <p>BIBLE CLASS<br>IN-PERSON & VIRTUAL<br>7:00PM (CST)</p>
    </div>

        <div class="footer-divider"></div>

        <div class="footer-links">
                <a href="/" class="footer-logo-container"><img src="../static/images/white_logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
        </div>

        <div class="footer-divider"></div>


    <div class="column">
      <h4>ADDRESS</h4>
      <p>1505 ROBINSON STREET<br>JACKSON, MS 39203</p>
      <p>601-354-2599 (Office)<br>GBTNEWS@GBTCHURCH.ORG</p>
    </div>
    <div class="footer-links-mobile">
                <a href="/" class="footer-logo-container"><img src="../static/images/logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
    </div>
  </div>

</body>
</html>
