<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/first-lady.css">
    <meta charset="UTF-8">
    <title>Greater Bethlehem Temple Church</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="/" class="nav-logo-container"><img src="../static/images/white_logo.png" class="nav-logo"></a>
            <input type = "checkbox" id = "nav-toggle" class = "nav-toggle">
            <nav>
                <ul>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/give">Give</a></li>
                    <li><a href="/connect">Connect</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/about-us">About US</a></li>
                </ul>
            </nav>
            <label for = "nav-toggle" class = "nav-toggle-label">
            <span></span>
            </label>
        </div>
    </header>

    <div class="about-container">
        <img src="../static/images/wide.jpg" class="about-img">
        <div class="banner-h-container">
            <h2>Our History</h2>
        </div>
        <div class="banner-msg">
            <p>Our vision at the Greater Bethlehem Temple Ministry is clear: to transform individuals into missionaries
                for Christ. Join us as we equip and empower every member to embrace their calling and make a lasting
                impact in the world. Together, let's share God's love and bring hope to those in need.

            </p>
        </div>
        <div class ="bottom-menu-container">
            <div class="bottom-menu">
                <ul>
                    <li><a href="/belief">Our Belief</a></li>
                    <li><a href="/pastor">Our Pastor</a></li>
                    <li><a href="/first-lady">Our First Lady</a></li>
                    <li><a href="/what-to-expect">What to Expect</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="history-container">
        <h2>
            Lady Chiquita Fortson
        </h2>
        <hr class="topic-divider">
        <div class="history-content">
            <img src="../static/images/first-lady.jpg" class="history-img">
            <p>
                Lady Chiquita McBride Fortson is no stranger to the life of an Apostolic First Family. The daughter of Bishop Walter L. McBride and the late Mother Lizzie E. McBride, Chiquita viewed firsthand the commitment and dedication of her parents to the ministry. Her father, Bishop McBride, was the pastor of two churches concurrently, Whitehall Church of God and Henry Pentecostal Church. <br><br>


Chiquita is the youngest of eight children, four brothers and three sisters. At the age of eleven, Chiquita was baptized in Jesus’ name and filled with the Holy Ghost.<br><br>


A scholar, Chiquita graduated from high school as Valedictorian. An active student, Chiquita participated in several high school extracurricular activities such as the Beta Club, the Student Government Association, cheerleader, and received national recognition in Who’s Who Among American High School Students. Chiquita was also elected as Miss West High School her senior year. She received   several scholarships, including an academic scholarship to Tennessee State University (TSU). While attending TSU, she interned with Wright-Patterson Air Force Base in Dayton, Ohio. She received a Bachelor of Science Degree in Mechanical Engineering in 1990.<br><br>

Upon graduation from TSU, Chiquita was employed by Proctor & Gamble in Jackson, Tennessee, as a systems manager. She later made history by becoming the first female and first African American Human Resources Manager in the thirty-five year history of the plant in Jackson, Tennessee. While   employed with Proctor and Gamble, she travelled extensively as a trainer.<br><br>

Always supportive of her parent’s ministry, Chiquita was actively involved in church work. She was a member of the Praise Team, Choir, Daughters of Zion Women’s Ministry, and Pastor’s Appreciation Committee. She was also the Church Announcer, and Program Coordinator of church events. Chiquita traveled extensively with her parents.<br><br>

In 2006, Chiquita became the wife of Bishop Robert Fortson, Sr. and is a welcome addition to the Greater Bethlehem Temple Church Family. Her passion for the youth has led her to work in the Sunday School Department as a teacher and member of the Sunday School Outreach Team. She is also an avid supporter of the Youth Department and currently serves as leader of the Singles Ministry.<br><br>

First Lady Fortson enjoys being a mother to her sons Robert Jr., Brian, and Matthew and being “Meme” to grandchildren Ethan, Keegan, Asia and RF3. In addition, she enjoys traveling, playing tennis, reading and listening to music.<br><br>


            </p>
        </div>
    </div>



      <div class="footer-container">
    <div class="column">
      <h4>SERVICE TIMES</h4>
      <p>SUNDAY WORSHIP SERVICE<br>IN-PERSON & VIRTUAL<br>11AM (CST)</p>
      <p>BIBLE CLASS<br>IN-PERSON & VIRTUAL<br>7:00PM (CST)</p>
    </div>

        <div class="footer-divider"></div>

        <div class="footer-links">
                <a href="/" class="footer-logo-container"><img src="../static/images/white_logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
        </div>

        <div class="footer-divider"></div>


    <div class="column">
      <h4>ADDRESS</h4>
      <p>1505 ROBINSON STREET<br>JACKSON, MS 39203</p>
      <p>601-354-2599 (Office)<br>GBTNEWS@GBTCHURCH.ORG</p>
    </div>
    <div class="footer-links-mobile">
                <a href="/" class="footer-logo-container"><img src="../static/images/logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
    </div>
  </div>

</body>
</html>