<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

<!--    <link rel="stylesheet" href="../static/css/homepage.css"> link css file-->
    <meta charset="UTF-8">
    <title>Greater Bethlehem Temple Church</title>
</head>
<body>
    <header>
        <a href="/"><img src="../static/images/logo.png" class="nav-logo"></a>
        <input type = "checkbox" id = "nav-toggle" class = "nav-toggle">
        <nav>
            <ul>
                <li><a href="#">Watch</a></li>
                <li><a href="#">Give</a></li>
                <li><a href="#">Connect</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">About US</a></li>
             </ul>
        </nav>
        <label for = "nav-toggle" class = "nav-toggle-label">
        <span></span>
        </label>
    </header>
</body>
</html>