<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/sundayschool.css">
 <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

        <script>
    document.addEventListener('DOMContentLoaded', function() {
      const userAgent = navigator.userAgent.toLowerCase();
      const body = document.querySelector('body');
      const header = document.querySelector('header');
      const nav = document.querySelector('nav');
      const navToggle = document.querySelector('.nav-toggle');
      const mobileNavLogo = document.querySelector('.mobile-nav-logo');
      const navToggleLabel = document.querySelector('.nav-toggle-label');
      const mobileBanner = document.querySelector('.mobile-banner');
      const spacer = document.querySelector('.spacer');


      if (userAgent.includes('android') ||
          userAgent.includes('webos') ||
          userAgent.includes('iphone') ||
          userAgent.includes('ipad') ||
          userAgent.includes('ipod') ||
          userAgent.includes('blackberry') ||
          userAgent.includes('iemobile') ||
          userAgent.includes('opera mini')) {

        header.classList.add('mobile');
        body.classList.add('mobile');
        nav.classList.add('mobile');
        mobileNavLogo.classList.add('mobile');
        navToggleLabel.classList.add('mobile');
        navToggle.classList.add('mobile');
        mobileBanner.classList.add('mobile');
        spacer.classList.add('mobile');


      } else {
        header.classList.add('desktop');
        body.classList.add('desktop');
        nav.classList.add('desktop');
        mobileNavLogo.classList.add('desktop');
        navToggleLabel.classList.add('desktop');
        navToggle.classList.add('desktop');
        mobileBanner.classList.add('desktop');
        spacer.classList.add('desktop');

      }
    });
  </script>

    <title>Greater Bethlehem Temple Church</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="/" class="mobile-nav-logo-container"><img src="../static/images/white_logo.png" class="mobile-nav-logo"></a>
            <a href="/" class="nav-logo-container"><img src="../static/images/header logo2.png" class="nav-logo"></a>
            <input type = "checkbox" id = "nav-toggle" class = "nav-toggle">
            <nav>
                <ul>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/give">Give</a></li>
                    <li><a href="/connect">Connect</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/about-us">About US</a></li>
                </ul>
            </nav>
            <label for = "nav-toggle" class = "nav-toggle-label">
            <span></span>
            </label>
        </div>
    </header>





    <div class="banner">
        <img src="../static/images/connect.jpg" class="event-img">
        <div class="banner-h-container">
            <h2>Ministries</h2>
        </div>
        <div class="banner-msg">
            <p>Greater Bethlehem Temple Church actively seeks to become a resource to the community by demonstrating the
                love of Jesus Christ to the world. We would love to welcome you to our family, or simply connect with a
                phone call to check in on you. Get to know us through dozens of distinct ministries aimed at pointing
                souls to Christ.
            </p>
        </div>
    </div>
    <div class="mobile-banner">
        <div class="mobile-banner-h-container">
            <h2>Ministries</h2>
        </div>
        <img src="../static/images/connect.jpg" class="mobile-offering-img">
    </div>
            <div class="spacer"></div>

    <div class="buffer"></div>



                <div class="ministries-h2"><h2>Sunday School</h2></div>
                <hr class="ministries-divider">

    <div class="our-impact">

        <div class="impact-img">
            <img src="../static/images/sundayschool.jpeg">
            <div class="impact-content">


                <h3>Our Impact</h3>
    <!--        <hr class="heading-divider">-->

                <p>
                    Welcome to our Sunday School Ministry where children and adults alike discover the joy of learning,
                    growing, and experiencing God's love together! We invite you to join our dynamic and welcoming
                    community as we dive into engaging Bible lessons, interactive activities, and meaningful
                    discussions that inspire spiritual growth. Whether you're a parent looking for a nurturing
                    environment for your children or an individual seeking to deepen your faith journey, Sunday
                    School is a place where everyone is embraced and encouraged to explore the riches of God's Word.
                    Come as you are, connect with others on the same journey, and experience the transformative power
                    of Sunday School. Together, let's delve into the truths of Scripture, build lasting friendships,
                    and encounter God in meaningful ways. Join us this Sunday and be part of an exciting adventure of
                    faith and discovery!
                </p>
            </div>
        </div>

    </div>


    <div class="buffer2"></div>


    <div class="connect">
        <div class="connect-back">
            <div class="highlights-container">
                <div class="grid-backdrop">

            <div class="grid">
                <div>
                    <div class="image">
                        <img src="../static/images/Sunday-School.jpg" class="image__img">
                        <div class="image__overlay image__overlay--primary">
                        <div class="image__title">Join US!</div>
                        <div class="image__description">
                            We would love to have you!
                        </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="more-grid-backdrop">

            </div>
        </div>
        </div>

            <div class="connect-content">
                <h3>Get Connected</h3>
                <p>

                    Attend Sunday School Virtually!
                    <br><br>
                    Now you can attend Sunday School virtually when in-person attendance isn’t possible. Connect with
                    us from anywhere via Zoom. Select one of the three classes below to get started<br><br>
                    <b>
                        Sunday Morning - @10:30<br><br>

                        Adult Zoom Link:<a href="https://us02web.zoom.us/j/82979429388?pwd=RGdpYUVoZDVkVkZWTjVzeDl2Nk5hUT09" target="_blank" class="join-button">JOIN</a>
                        <br><br>
                        Youth Zoom Link:<a href="https://us06web.zoom.us/j/92797576389?pwd=Z0JWZE55eDBaNFVTZ3N1NnZ1cGVJUT09" target="_blank" class="join-button">JOIN</a>
                        <br><br>
                        Children Zoom Link:<a href="https://us06web.zoom.us/j/96469331609?pwd=a2FoZEZGUDFkTUdZZzkyVC8xc3oyQT09" target="_blank" class="join-button">JOIN</a>

                        <b>

                </p>
            </div>
        </div>
    </div>




      <div class="footer-container">
    <div class="column">
      <h4>SERVICE TIMES</h4>
      <p>SUNDAY WORSHIP SERVICE<br>IN-PERSON & VIRTUAL<br>11AM (CST)</p>
      <p>BIBLE CLASS<br>IN-PERSON & VIRTUAL<br>7:00PM (CST)</p>
    </div>

        <div class="footer-divider"></div>

        <div class="footer-links">
                <a href="/" class="footer-logo-container"><img src="../static/images/white_logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
        </div>

        <div class="footer-divider"></div>


    <div class="column">
      <h4>ADDRESS</h4>
      <p>1505 ROBINSON STREET<br>JACKSON, MS 39203</p>
      <p>601-354-2599 (Office)<br>GBTNEWS@GBTCHURCH.ORG</p>
    </div>
    <div class="footer-links-mobile">
                <a href="/" class="footer-logo-container"><img src="../static/images/logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
    </div>
  </div>

</body>
</html>
