<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/what-to-expect.css">
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

        <script>
    document.addEventListener('DOMContentLoaded', function() {
      const userAgent = navigator.userAgent.toLowerCase();
      const body = document.querySelector('body');
      const header = document.querySelector('header');
      const nav = document.querySelector('nav');
      const navToggle = document.querySelector('.nav-toggle');
      const mobileNavLogo = document.querySelector('.mobile-nav-logo');
      const navToggleLabel = document.querySelector('.nav-toggle-label');
      const bannerHContainer = document.querySelector('.banner-h-container');


      if (userAgent.includes('android') ||
          userAgent.includes('webos') ||
          userAgent.includes('iphone') ||
          userAgent.includes('ipad') ||
          userAgent.includes('ipod') ||
          userAgent.includes('blackberry') ||
          userAgent.includes('iemobile') ||
          userAgent.includes('opera mini')) {

        header.classList.add('mobile');
        body.classList.add('mobile');
        nav.classList.add('mobile');
        mobileNavLogo.classList.add('mobile');
        navToggleLabel.classList.add('mobile');
        navToggle.classList.add('mobile');
        bannerHContainer.classList.add('mobile');


      } else {
        header.classList.add('desktop');
        body.classList.add('desktop');
        nav.classList.add('desktop');
        mobileNavLogo.classList.add('desktop');
        navToggleLabel.classList.add('desktop');
        navToggle.classList.add('desktop');
        bannerHContainer.classList.add('desktop');

      }
    });
  </script>

    <title>Greater Bethlehem Temple Church</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="/" class="mobile-nav-logo-container"><img src="../static/images/white_logo.png" class="mobile-nav-logo"></a>
            <a href="/" class="nav-logo-container"><img src="../static/images/header logo2.png" class="nav-logo"></a>

            <input type = "checkbox" id = "nav-toggle" class = "nav-toggle">
            <nav>
                <ul>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/give">Give</a></li>
                    <li><a href="/connect">Connect</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/about-us">About US</a></li>
                </ul>
            </nav>
            <label for = "nav-toggle" class = "nav-toggle-label">
            <span></span>
            </label>
        </div>
    </header>

    <div class="about-container">
        <img src="../static/images/wide.jpg" class="about-img">
        <div class="banner-h-container">
            <h2>What to Expect</h2>
        </div>
        <div class="banner-msg">
            <p>Our vision at the Greater Bethlehem Temple Ministry is clear: to transform individuals into missionaries
                for Christ. Join us as we equip and empower every member to embrace their calling and make a lasting
                impact in the world. Together, let's share God's love and bring hope to those in need.

            </p>
        </div>
        <div class ="bottom-menu-container">
            <div class="bottom-menu">
                <ul>
                    <li><a href="/belief">Our Belief</a></li>
                    <li><a href="/pastor">Our Pastor</a></li>
                    <li><a href="/first-lady">Our First Lady</a></li>
                    <li><a href="/what-to-expect">What to Expect</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="history-container">
                    <img src="../static/images/expect.png" class="history-img">

        <hr class="topic-divider">
        <div class="history-content">
            <p>
                GBT is a growing, thriving body of believers who are passionate about living for Christ! Whether 6 or 60 years of age, our members are active Kingdom builders who understand that God loves each of us and has filled our lives with purpose. Though our weekly attendance exceeds one thousand worshippers, we consider ourselves a growing family and each individual as our own brother or sister.<br><br>

At GBT, learning is a key component of discipleship. Knowledge is power, and every believer has a right to walk in the fullness of the power of the Holy Spirit. The Bible encourages us to grow in grace, and in the knowledge of our Lord, and that happens every time we come together to learn more about him. Through individualized courses, group classes and general studies our members are afforded a diverse curriculum of weekly Bible teachings that inspire deeper revelations and intense personal growth.<br><br>

There’s something extra special about worshipping in an atmosphere where the presence of God is expected to manifest. At GBT, we believe worship is more than following a program or performing a scripted ceremony. Since the Spirit of the Lord brings liberty, we believe worshippers should be free to express themselves as part of an intimate relationship with God. Through live music, song and dance our worship goes beyond the traditional, giving way to expressions of joy and reverence through praise, tears, lifted hands, speaking in tongues, running, leaping, laughter and more!<br><br>

Serving is an integral part of life at GBT. Through our missions we routinely provide meals to the hungry within the community and assist poor individuals and families with clothing and groceries on a weekly basis. With over 60 distinct ministries, there’s something for everyone to do, including outreach to college students, tutoring for school-aged children, prison ministries, counseling and substance abuse ministries, outreach to senior citizens, scholarships, summer camps, blood drives, health screenings and seminars, financial planning courses, children ministries and hospital visitation.<br><br>
              <b><br> <br>Morning Worship - Sundays 11AM

 <br> <br>Evening Worship - Sundays 6PM

 <br> <br>Noonday Bible Study - Wednesday 12PM

 <br> <br>Mid-Week Bible Study - Wednesday 7PM

 <br> <br>Young People Service - Fridays 7PM
            </b>  </p>
        </div>
    </div>



      <div class="footer-container">
    <div class="column">
      <h4>SERVICE TIMES</h4>
      <p>SUNDAY WORSHIP SERVICE<br>IN-PERSON & VIRTUAL<br>11AM (CST)</p>
      <p>BIBLE CLASS<br>IN-PERSON & VIRTUAL<br>7:00PM (CST)</p>
    </div>

        <div class="footer-divider"></div>

        <div class="footer-links">
                <a href="/" class="footer-logo-container"><img src="../static/images/white_logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
        </div>

        <div class="footer-divider"></div>


    <div class="column">
      <h4>ADDRESS</h4>
      <p>1505 ROBINSON STREET<br>JACKSON, MS 39203</p>
      <p>601-354-2599 (Office)<br>GBTNEWS@GBTCHURCH.ORG</p>
    </div>
    <div class="footer-links-mobile">
                <a href="/" class="footer-logo-container"><img src="../static/images/logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
    </div>
  </div>

</body>
</html>