<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/youth.css">
    <meta charset="UTF-8">
    <title>Greater Bethlehem Temple Church</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="/" class="mobile-nav-logo-container"><img src="../static/images/white_logo.png" class="mobile-nav-logo"></a>
            <a href="/" class="nav-logo-container"><img src="../static/images/header logo2.png" class="nav-logo"></a>
            <input type = "checkbox" id = "nav-toggle" class = "nav-toggle">
            <nav>
                <ul>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/give">Give</a></li>
                    <li><a href="/connect">Connect</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/about-us">About US</a></li>
                </ul>
            </nav>
            <label for = "nav-toggle" class = "nav-toggle-label">
            <span></span>
            </label>
        </div>
    </header>





    <div class="banner">
        <img src="../static/images/connect.jpg" class="event-img">
        <div class="banner-h-container">
            <h2>Ministries</h2>
        </div>
        <div class="banner-msg">
            <p>The Greater Bethlehem Temple Family is a resource to the community and are always spiritually connected.
                We would love to welcome you to our family, or simply connect with a phone call to check in on you.
                We would love to get to know you and your family!
            </p>
        </div>
    </div>
    <div class="mobile-banner">
        <div class="mobile-banner-h-container">
            <h2>Ministries</h2>
        </div>
        <img src="../static/images/connect.jpg" class="mobile-offering-img">
    </div>
            <div class="spacer"></div>

    <div class="buffer"></div>



                <div class="ministries-h2"><h2>Youth Ministry</h2></div>
                <hr class="ministries-divider">

    <div class="our-impact">

        <div class="impact-img">
            <img src="../static/images/impact.jpg">
            <div class="impact-content">


                <h3>Our Impact</h3>
    <!--        <hr class="heading-divider">-->

                <p>
                    Our ministry is all about empowering young hearts and minds to grow in faith, discover their
                    purpose, and positively impact the world. Get ready for uplifting worship experiences, inspiring
                    teachings, and loads of exciting activities. We're not just here to have a good time (although we
                    definitely know how to have fun!), but to support each other, build strong friendships, and explore
                    what it means to live out our faith in practical ways. Together, we'll navigate life's ups and downs,
                    and together, we'll make a difference. Join us on this incredible journey of growth, connection, and making
                    memories that will last a lifetime.
                </p>
            </div>
        </div>

    </div>


    <div class="buffer2"></div>


    <div class="connect">
        <div class="connect-back">
            <div class="highlights-container">
                <div class="grid-backdrop">

            <div class="grid">
                <div>
                    <div class="image">
                        <img src="../static/images/logo.png" class="image__img">
                        <div class="image__overlay image__overlay--primary">
                        <div class="image__title">Event Title</div>
                        <div class="image__description">
                            Event overview
                        </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="more-grid-backdrop">

            </div>
        </div>
        </div>

            <div class="connect-content">
                <h3>Get Connected</h3>
                <p>
                    Ready for an incredible journey of faith, friendship, and purpose? Connect with our Youth and discover
                    a community that embraces and empowers you. Join us and be part of a vibrant and supportive network where
                    you can grow spiritually and impact the world around you. Don't wait any longer – get connected with
                    our Youth Ministry and embark on an exciting adventure that will shape your life!
                </p>
            </div>
        </div>
    </div>
                    <div class="ministries-h2"><h2>Children's Ministry</h2></div>
                    <hr class="ministries-divider">

        <div class="our-impact">

            <div class="impact-img">
                <img src="../static/images/children.jpg">
                <div class="impact-content">


                    <h3>Our Impact</h3>
        <!--        <hr class="heading-divider">-->

                    <p>
                        Our vibrant Children's Ministry, where young hearts find a home filled with love,
                        laughter, and limitless possibilities! We believe in creating an engaging and nurturing environment
                        that sparks joy and curiosity in every child. Through inspiring worship, interactive teachings,
                        and exciting activities, we invite your little ones to embark on a faith-filled adventure like no
                        other. Our dedicated team of caring leaders is committed to walking alongside your children as they
                        grow in their relationship with God and discover their unique purpose in life. Join us and be part
                        of a community that celebrates the wonder of childhood, builds lasting friendships, and encourages
                        each child to shine brightly. Come and experience the warmth, fun, and transformative power of our
                        Children's Ministry – where every child is cherished and embraced with open arms.
                    </p>
                </div>
            </div>

        </div>


        <div class="buffer2"></div>


        <div class="connect">
            <div class="connect-back">
                <div class="highlights-container">
                    <div class="grid-backdrop">

                <div class="grid">
                    <div>
                        <div class="image">
                            <img src="../static/images/logo.png" class="image__img">
                            <div class="image__overlay image__overlay--primary">
                            <div class="image__title">Event Title</div>
                            <div class="image__description">
                                Event overview
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="more-grid-backdrop">

                </div>
            </div>
            </div>

                <div class="connect-content">
                    <h3>Get Connected</h3>
                    <p>
                        Are you ready to embark on an incredible journey with our Children's Ministry? We invite you to
                        get connected and become part of this thriving community that impacts young lives in profound ways.
                        Whether you're a parent, guardian, or simply passionate about investing in the next generation,
                        there are numerous opportunities for you to get involved. Join our dedicated team of volunteers
                        and make a difference in the lives of our children. You can also participate in our engaging
                        programs, attend special events, and support our ministry through your presence and prayers.
                        Together, let's create a nurturing and inspiring environment where children can grow in their
                        faith, build lifelong friendships, and discover their unique potential. Come and be part of the joy,
                        laughter, and transformation happening in our Children's Ministry. We can't wait to welcome you
                        into our community!
                    </p>
                </div>
            </div>
        </div>




      <div class="footer-container">
    <div class="column">
      <h4>SERVICE TIMES</h4>
      <p>SUNDAY WORSHIP SERVICE<br>IN-PERSON & VIRTUAL<br>11AM (CST)</p>
      <p>BIBLE CLASS<br>IN-PERSON & VIRTUAL<br>7:00PM (CST)</p>
    </div>

        <div class="footer-divider"></div>

        <div class="footer-links">
                <a href="/" class="footer-logo-container"><img src="../static/images/white_logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
        </div>

        <div class="footer-divider"></div>


    <div class="column">
      <h4>ADDRESS</h4>
      <p>1505 ROBINSON STREET<br>JACKSON, MS 39203</p>
      <p>601-354-2599 (Office)<br>GBTNEWS@GBTCHURCH.ORG</p>
    </div>
    <div class="footer-links-mobile">
                <a href="/" class="footer-logo-container"><img src="../static/images/logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
    </div>
  </div>

</body>
</html>
