<!DOCTYPE html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/youth.css">
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">

        <script>
    document.addEventListener('DOMContentLoaded', function() {
      const userAgent = navigator.userAgent.toLowerCase();
      const body = document.querySelector('body');
      const header = document.querySelector('header');
      const nav = document.querySelector('nav');
      const navToggle = document.querySelector('.nav-toggle');
      const mobileNavLogo = document.querySelector('.mobile-nav-logo');
      const navToggleLabel = document.querySelector('.nav-toggle-label');
      const mobileBanner = document.querySelector('.mobile-banner');
      const spacer = document.querySelector('.spacer');


      if (userAgent.includes('android') ||
          userAgent.includes('webos') ||
          userAgent.includes('iphone') ||
          userAgent.includes('ipad') ||
          userAgent.includes('ipod') ||
          userAgent.includes('blackberry') ||
          userAgent.includes('iemobile') ||
          userAgent.includes('opera mini')) {

        header.classList.add('mobile');
        body.classList.add('mobile');
        nav.classList.add('mobile');
        mobileNavLogo.classList.add('mobile');
        navToggleLabel.classList.add('mobile');
        navToggle.classList.add('mobile');
        mobileBanner.classList.add('mobile');
        spacer.classList.add('mobile');


      } else {
        header.classList.add('desktop');
        body.classList.add('desktop');
        nav.classList.add('desktop');
        mobileNavLogo.classList.add('desktop');
        navToggleLabel.classList.add('desktop');
        navToggle.classList.add('desktop');
        mobileBanner.classList.add('desktop');
        spacer.classList.add('desktop');

      }
    });
  </script>

    <title>Greater Bethlehem Temple Church</title>
</head>
<body>
    <header>
        <div class="menu">
            <a href="/" class="mobile-nav-logo-container"><img src="../static/images/white_logo.png" class="mobile-nav-logo"></a>
            <a href="/" class="nav-logo-container"><img src="../static/images/header logo2.png" class="nav-logo"></a>
            <input type = "checkbox" id = "nav-toggle" class = "nav-toggle">
            <nav>
                <ul>
                    <li><a href="/watch">Watch</a></li>
                    <li><a href="/give">Give</a></li>
                    <li><a href="/connect">Connect</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/about-us">About US</a></li>
                </ul>
            </nav>
            <label for = "nav-toggle" class = "nav-toggle-label">
            <span></span>
            </label>
        </div>
    </header>





    <div class="banner">
        <img src="../static/images/connect.jpg" class="event-img">
        <div class="banner-h-container">
            <h2>Ministries</h2>
        </div>
        <div class="banner-msg">
            <p>Greater Bethlehem Temple Church actively seeks to become a resource to the community by demonstrating the
                love of Jesus Christ to the world. We would love to welcome you to our family, or simply connect with a
                phone call to check in on you. Get to know us through dozens of distinct ministries aimed at pointing
                souls to Christ.
            </p>
        </div>
    </div>
    <div class="mobile-banner">
        <div class="mobile-banner-h-container">
            <h2>Ministries</h2>
        </div>
        <img src="../static/images/connect.jpg" class="mobile-offering-img">
    </div>
            <div class="spacer"></div>

    <div class="buffer"></div>



                <div class="ministries-h2"><h2>Youth & Young Adults Ministry</h2></div>
                <hr class="ministries-divider">

    <div class="our-impact">

        <div class="impact-img">
            <img src="../static/images/impact.jpg">
            <div class="impact-content">


                <h3>Our Impact</h3>
    <!--        <hr class="heading-divider">-->

                <p>
                    Our ministry is all about empowering young hearts and minds to grow in faith, discover their
                    purpose, and positively impact the world. Get ready for uplifting worship experiences, inspiring
                    teachings, and loads of exciting activities. We're not just here to have a good time (although we
                    definitely know how to have fun!), but to support each other, build strong friendships, and explore
                    what it means to live out our faith in practical ways. Together, we'll navigate life's ups and downs,
                    and together, we'll make a difference. Join us on this incredible journey of growth, connection, and making
                    memories that will last a lifetime.
                </p>
            </div>
        </div>

    </div>


    <div class="buffer2"></div>


    <div class="connect">
        <div class="connect-back">
            <div class="highlights-container">
                <div class="grid-backdrop">

            <div class="grid">
                <div>
                    <div class="image">
                        <img src="../static/images/sanfords.png" class="image__img">
                        <div class="image__overlay image__overlay--primary">
                        <div class="image__title">Leadership</div>
                        <div class="image__description">
                            Elder Jeremy Sanford, Director <br><br> Sis. LaTresha Sanford
                        </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="more-grid-backdrop">

            </div>
        </div>
        </div>

            <div class="connect-content">
                <h3>Get Connected</h3>
                <p>
                    Ready for an incredible journey of faith, friendship, and purpose? Connect with our Youth & Young
                    Adults Ministry and discover a community that embraces and empowers you.
                    Don't wait any longer – get connected with the Youth of our Church, and embark on an exciting
                    adventure that will shape your life!<br><br>
                    Email us at youthministry@gbtchurch.org for more information.
                    <b>

                    <br> <br>Youth Service - Fridays 7PM<br> <br>
                        Youth Leadership: Elder Jeremy Sanford, Director & Sis. LaTresha Sanford
                    </b>
                </p>
            </div>
        </div>
    </div>






      <div class="footer-container">
    <div class="column">
      <h4>SERVICE TIMES</h4>
      <p>SUNDAY WORSHIP SERVICE<br>IN-PERSON & VIRTUAL<br>11AM (CST)</p>
      <p>BIBLE CLASS<br>IN-PERSON & VIRTUAL<br>7:00PM (CST)</p>
    </div>

        <div class="footer-divider"></div>

        <div class="footer-links">
                <a href="/" class="footer-logo-container"><img src="../static/images/white_logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
        </div>

        <div class="footer-divider"></div>


    <div class="column">
      <h4>ADDRESS</h4>
      <p>1505 ROBINSON STREET<br>JACKSON, MS 39203</p>
      <p>601-354-2599 (Office)<br>GBTNEWS@GBTCHURCH.ORG</p>
    </div>
    <div class="footer-links-mobile">
                <a href="/" class="footer-logo-container"><img src="../static/images/logo.png" class="footer-logo"></a>
            <div class="socials">
                <a href="https://www.facebook.com/GBTchurch"
                   class="footer-logo-container"><img src="../static/images/fb.webp" class="social-logo"></a>

                <a href="https://twitter.com/GBTnews"
                   class="footer-logo-container"><img src="../static/images/twitter.webp" class="social-logo"></a>

                <a href="https://www.youtube.com/@GBTnews"
                   class="footer-logo-container"><img src="../static/images/yt.webp" class="social-logo"></a>
                <a href="/" class="footer-logo-container"><img src="../static/images/insta.webp" class="social-logo"></a>
            </div>
            <p>© 2023 Greater Bethlehem Temple</p>
    </div>
  </div>

</body>
</html>
